
address   {
  grid-column: 1;
  grid-row: 2;
  font-size: 1.15rem;
  font-style: italic;
  color: var(--colorlt);
  margin: auto 0;
}

@media screen and (min-width: 640px) {
  address   {
  grid-row: 3;
  font-size: 1.35em;
  }
}

address a {
  text-decoration: none;
  color: var(--colorlt);
}

address a:hover   {
  color: var(--link-hover-lt);
  text-decoration: underline;
}

.addressbar   {
  grid-column: 1 / 2;
  grid-row: 2;
}

a {
  color: var(--detailtwodk);
  text-decoration: none; 
}

a:hover {
  color: var(--bkgrndtwo);
  text-decoration: underline; 
}

.begin_space {
  margin-top: 3em; 
}

.article li   {
  padding: .25em 5%;
  text-indent: -1.65rem;
}

.backtotop  {
  padding-bottom: 20px;
}

blockquote {
  font-style: italic;
  font-family: serif;
  font-size: 1.25em; 
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  text-align: left; 
}

blockquote p {
  display: inline; 
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  margin-right: 0.25em;
  vertical-align: -0.4em; 
}

.bold {
  font-weight: bold; 
}

body {
  background-color: var(--bkgrndlight);
}

.border {
  border-style: double;
  border-width: 6px;
  border-color: var(--bkgrndtwo);
  font-family: sans-serif;
  text-align: center;
 /* background: -moz-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f1f1f1), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -o-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  */
  background-color: var(--colorlt-xtra);
  padding: .5rem; 
}

@media screen and (min-width: 640px) {
  .border   {
    padding: 1rem 1.5rem;
  }
  li  {
    font-size: 1rem;
  }
}

.border .plain-page   {
  padding: 0;
  border-style: none;
}

.border h1  {
  margin-top: 1rem;
}

.border h4 {
  margin-top: .5rem;
}

.block {
  padding-bottom: .25rem;
  margin-bottom: 1.85rem; 
}
  
.block li   {
  padding: .25rem 5%;
}

.clearboth  {
  clear: both;
}

.confirm h2   {
  color: red;
}

.confirm .wufoo h2  {
  text-align: center;
  color: red;
  font-size: 2.5rem;
  font-style: italic;
  font-family: serif; 
}

.displaynone {
  display: none; 
}

div li p:first-child {
  padding-top: 0; 
}
  
div ul p:first-child {
  padding-top: .65rem; 
}
  
div ul .list_txt_center p:first-child {
  padding: 0;
  text-align: center;
}

div.fill-in   {
  width: 100%;
}

div.flexlist p  {
  font-size: 1rem;
}

div.search {
    background-color: var(--offblack);
    padding-bottom: 1em;
    padding-top: 1em;
 }

 .docs h1  {
  font-family: var(--serifone);
  font-weight: bold;
  color: var(--offblack);
}

.docs h2  {
  font-family: var(--sansserifone);
  font-size: 1.35rem;
  font-weight: bold;
  color: var(--offblack);
  text-align: left;
  font-style: normal;
  padding-top: .85rem;
}

.docs h3  {
  text-align: center;
  font-weight: 400;
}

.docs h4  {
  font-style: normal;
}

.docs h5  {
    font-style: normal;
    text-decoration: underline;
    font-size: 1.35em;
    text-align: left;
    font-style: italic;
    color: #4d605b;
    padding: .5em 2% .25em 2%;
}

.docs h6  {
  text-align: center;
  text-decoration: underline;
  font-style: normal;
}

.docs li  {
  list-style: none;
  font-style: normal;
  font-family: serif;
  margin-right: 7.5%;
  text-indent: -1.5rem;
}

.docs p   {
  font-family: Times, "New Times Roman", serif;
  margin-left: .25rem;
}

@media screen and (min-width: 640px)  {
  .docs p   {
  margin-left: 2.15rem;
  }
}

.docs a   {
  color: #a21f1f;
}

.docs a:hover   {
  color: #749088;
  text-decoration: underline;
}

.docs ul  {
  margin-left: 13.5%;
}

.docs span.outdent  {
  text-decoration: none;
  padding-right: .75rem;
}

em {
  font-style: italic; 
}

em.keyword  {
  color: var(--red);
}

/*from jr website all caption types*/
figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  padding: .25rem 0;
  letter-spacing: .015em;
  background-color: var(--bkgrndone);
}

figcaption cite:before  {
  content: none;
}

figcaption p  {
  text-align: center;
  font-size: .85rem;
  color: var(--colorlt);
  font-style: italic;
}

figcaption cite p   {
  font-size: .8125rem;
}

@media screen and (min-width: 640
  px)  {
  figcaption p  {
    font-size: 1rem;
  }
  figcaption cite p   {
    text-decoration: underline;  
  }
  figcaption cite p a {
    display: block;
    color: var(--colorlt);
  } 
} 

figure {
    display: table;
    text-align: center;
    margin-block-start: 1rem;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.figurewt {
    margin-block-start: 2rem;
}

/*
.figure .figure-caption   {
  display: inline-block;
}
*/

/*
.figcap_lft {
  float: left;
  margin: 0 1rem .5rem 1rem;
}
*/
.figcap-lft {
  float: left;
  margin: 0 1rem .5rem 1rem;
  width: 35%;
}
/*
.figcap_lft {
  float: left;
  margin-right: 0 1.5rem;
  width: 35%;
}
*/

.figcap-rt  {
    float: right;
    margin: 0 1rem .5rem 1rem;
    width: 35%;   
}

/*
.figcap_rt  {
    float: right;
    margin: 0 1rem .5rem 1rem;
    width: 35%;  
}
*/

.figure   {
  border: solid 4px #fefefe;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    display: inline-block;
    max-width: 100%;
    transition: box-shadow 200ms ease-out;
    border-radius: 0;
}

.figure p   {
  font-size: .8125rem;
  padding-top: 0;
  padding-bottom: 0;
}

.figure-lft   {
  margin: 1em 40px 1em 0;
}


.fill-in {
  grid-column: 1 / 3;
  grid-row: 2;
  }

@media screen and (min-width: 640px) {
.fill-in {
  grid-column: 2 / 3;
  grid-row: 1;
  text-align: center;
  }
}

.flexlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.flexlist ul {
    margin: 0;
}

.flexlist li {
    list-style: none;
    font-size: .8rem;
}

@media screen and (min-width: 640px) {
  .flexlist   {
    flex-wrap: nowrap;
  }
}

.floatleft {
  float: left; 
}

footer {
  color: var(--offwhite);
}

footer  {
  background-color: #0a0a0a;
  background-color: var(--offblack);
  padding: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 640px)  {
  footer  {
  grid-template-columns: repeat(4, 1fr);
  }
}

footer a {
    color: var(--ltgreenbkgrnd);
    color: #C2F0E4;
    color: var(--detailbright);
    text-decoration: none;
    padding: .5rem;
}

footer a:hover {
    text-decoration: underline;
}

footer h5   {
    font-size: 1em;
    margin-bottom: .15rem;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    color: var(--colorlt);
    padding: .5em .35em;
}

footer li   {
  padding-bottom: .75em;
}

footer p  {
  font-size: .8em;
  padding: .25em 5%;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

footer ul   {
  padding-left: 1.25em;
  font-family: Verdana, Helvetica, sans-serif;
}

footer.layout-footer   {
  background: #0a0a0a;
  color: #f2f2f2;
}

.footer.panel p {
    padding: 0;
    font-size: .85rem;
    margin-bottom: .15rem;
}

@media screen and (min-width: 640px) {
  .footer.panel p {
    font-size: 1rem;
  }  
}

.footer.panel .listitem p {
    margin: 0;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

form div {
  margin-left: 0;
  padding-bottom: 1em; 
}

form div.fill-in  {
  padding-bottom: 0;
}

form div.go  {
  padding-bottom: 0;
}

form div.label {
    margin-top: 0;
    padding-bottom: 0;
}

form div.page_intro {
  width: 99%; 
}

form div.search {
    padding-bottom: 0;
    margin-top: 0;
}

form div.searchtext  {
  padding-bottom: 0;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-size: .9em;
    padding-top: .6em;
    padding-left: .6em;
    color: #3a3a3a;
    font-family: "Lato", Arial, sans-serif;
}


@media screen and (min-width: 640px) {
form label {
      font-size: 1.15em;
  }
}

form .search label  {
  margin: 0;
  color: var(--medltgray);
  color: #ddd;
  padding-left: 0;
}

.form_p {
  font-size: 1.15em;
  margin-right: 40%;
}

.format p {
  padding-left: 1.5em; 
}

.go {
  grid-column: 3 / 4;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  }

@media screen and (min-width: 640px) {
.go {
  grid-column: 3 / 4;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  }
}


 /* ------- .grouplink lists series of links, as at policies --------*/
.grouplink {
  margin-top: .85em;
  margin-bottom: 1.5em;
  text-align: center;
  /*
  background: -moz-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f1f1f1), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -o-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  */
  /*background-color: var(--colorlt-xtra); */
  list-style: none;
}

.grouplink a {
  border-radius: 2.5rem;
  font-size: 1.25rem;
  padding: .75rem 1rem .5rem 1.35rem;

/*  background-color: var(--offwhite);*/
  border-top: 0.25rem  solid var(--bkgrndtwo);
  border-right: 0.1rem  solid var(--bkgrndtwo);
  border-left: 0.1em  solid var(--bkgrndtwo);
  list-style: none;
  display: block;
  font-tamily: var(--serifone);
  font-style: italic;
  text-align: left;
  width: 85%;
  margin: 0 auto .25rem auto;
 }

 @media screen and (min-width: 640px)     {
  .grouplink a {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem 1rem 2.5rem;
    width: 60%;
  }
 }

/* .grouplink a:last-child   {
  border-bottom: 0.25rem  solid var(--bkgrndtwo);
 }*/

.grouplink li:hover  {
  color: var(--bkgrndone);
  text-decoration: underline;
}

.grouplink ul   {
  margin-left: 0;
}

h2 p {
  font-size: 1rem; 
}

h1 {
  font-family: var(--headline);
  font-size: 1.65rem;
  font-variant: small-caps;
  text-transform: capitalize;

  color: var(--bkgrndone);  
  text-align: center;
}

h2 {
  font-family: var(--serifone);
  font-size: 1.35rem;
  font-style: italic;
  text-align: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: var(--colordk);
  margin-top: .5rem;
}

h3 {
  font-size: 1.25rem;
  text-align: left;
  color: var(--colordk);
  padding-top: 1.15rem;
}

h4 {
  font-size: 1.25rem;
  text-align: left;
  font-style: italic;
  color: var(--bkgrndtwo);
  padding: 0 2%; 
}

h5 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--detailtwodk);
  padding: .5rem 0 .5rem 0; 
}

.minutes h5 {
    font-size: 1.25rem;
    text-align: left;
    color: var(--detailtwodk);
    padding: .5rem 0 0 2rem;
    margin-bottom: .5rem;
}

h6 {
  font-size: 1.35em;
  text-align: center;
  font-style: italic;
  color: var(--bkgrndtwo);
  padding: .5em 0 .5em 0; 
}

.minutes h6   {
    font-size: 1.35em;
    text-align: left;
    font-style: italic;
    color: var(--bkgrndtwo);
    padding: .5em 0 0 2.75rem;
    margin-bottom: .5rem;
}


@media screen and (min-width: 640px) { 
  h1 {
    font-size: 2.25rem;
    letter-spacing: .1rem;
    }
  h2  {
    font-size: 1.65rem;
  }
  h3  {
    font-size: 1.5rem;
  }
  h4  {
    font-size: 1.35rem;
  }
}

header {
  background-color: var(--bkgrndone);
  font-family: Times, "Times New Roman", serif;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}

header .h1   {
    font-size: 1.5rem;
    color: var(--colorlt);
    letter-spacing: .2rem;
    margin: auto 0;
    font-family: var(--headline);
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (min-width: 640px) {
  header .h1 {
    font-size: 3rem;
  }
}

header h1 {
grid-column: 1 / 2;
grid-row: 1;
font-size: 1.5rem;
color: var(--colorlt);
letter-spacing: .2rem;
margin: auto 0;
}

header h2 {
  font-size: .85rem;
  color: var(--colorlt);
  display: none;
}

.header h1 {
  color: var(--colorlt);
}

@media screen and (min-width: 640px) {
  header h1 {
    font-size: 3rem;
    color: var(--colorlt);
  }
  header h2   {
    font-size: 1.85rem;
    display: block; 
    color: var(--colorlt); 
    grid-column: 1 / 2;
    grid-row: 2;
    margin: auto 0;
  }
}

header h2 a {
  color: var(--medltgray);
}

header h2 a:hover {
  color: #C2F0E4;
  text-decoration: underline;
}

header:before {
  content: " ";
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  height: 1.8vw;
  /* This is what I used originally- gradients- but switched to clip-path method
  background: linear-gradient(#000000 0%, transparent 0%), linear-gradient(110deg, hsl(208, 95%, 20%) 33.33%, transparent 33.33%) 0 0%, #color-mainbright linear-gradient(70deg, hsl(208, 95%, 20%) 33.33%, hsl(208, 100%, 97%) 33.33%) 0 0%;
  background: -webkit-linear-gradient(#000000 0%, transparent 0%), -webkit-linear-gradient(110deg, hsl(208, 95%, 20%) 33.33%, transparent 33.33%) 0 0%, hsl(208, 95%, 20%) -webkit-linear-gradient(70deg, hsl(208, 95%, 20%) 33.33%, hsl(208, 100%, 97%) 33.33%) 0 0%;
  background: -o-linear-gradient(#000000 0%, transparent 0%), -o-linear-gradient(110deg, hsl(208, 195%, 20%) 33.33%, transparent 33.33%) 0 0%, hsl(208, 95%, 20%) -o-linear-gradient(70deg, hsl(208, 95%, 20%) 33.33%, hsl(208, 100$, 97%) 33.33%) 0 0%;
  background: -moz-linear-gradient(#000000 0%, transparent 0%), -moz-linear-gradient(110deg, hsl(208, 95%, 20%) 33.33%, transparent 33.33%) 0 0%, hsl(208, 95%, 20%) -moz-linear-gradient(70deg, hsl(208, 95%, 20%) 33.33%, hsl(208, 100%, 97%) 33.33%) 0 0%;
  background-repeat: repeat-x;
  background-size: 0 100%, 14.35% 4.25em, 14.35% 4.25em;
  padding-bottom: 24px;
  */
  background: aliceblue;
  clip-path: polygon(0 0, 7.1428571428571% 100%, 14.285714285714% 0, 21.4285714285714% 100%,
      28.5714285714286% 0, 35.7142857142857% 100%, 42.8571428571429% 0, 50.0000000000000% 100%,
      57.1428571428571% 0, 64.2857142857143% 100%, 71.4285714285714% 0,
      78.5714285714286% 100%, 85.7142857142857% 0, 92.8571428571429% 100%, 100% 0);
  padding-bottom: 24px; 
}

@media screen and (min-width: 960px)
  header:before {
    height: 3.5rem;
  }
}

/*
.header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}*/

@media screen and (min-width: 640px)
.header {
    padding: 1rem 1rem 1rem 1rem;
}

.headerbar a {
  padding: .5rem .75rem .5rem .75rem;
  color: var(--colordk);
  border: 3px solid var(--detailbright);
  border-radius: 5em;
  background-color: var(--bkgrndlight); 
}

.headerbar a:hover  {
  color: var(--link-hover-dk);
  text-decoration: underline;
  border-color: var(--detailtwolt);
}

.headerbar a h1   {
  padding: .75rem 2rem .5rem 2rem;
  color: var(--colordk);
  border: 6px solid var(--detailbright);
  border-radius: 5em;
  background-color: var(--bkgrndlight); 
}

.headerbar a:hover h1   {
  text-decoration: underline;
}

.headerbar li {
  text-align: center;
  color: var(--colordk);
  list-style-type: none;
  font-size: 1rem;
  font-style: normal;
}

.headerbar li.grouped {
  margin: 1rem .5rem 1rem .5rem;
}

@media screen and (min-width: 640px) {
.headerbar li   {
  font-size: 1.5rem;
  margin: 3rem .4rem;
  }
.headerbar a {
  padding: .65rem 2rem .65rem 2rem;
  border: 6px solid var(--detailbright);
  margin-inline-start: .5rem;
  margin-inline-end: .5rem;
  }
}
.heading figcaption {
  padding: 0 1rem 0 1rem
}

.helpful li {
  border: 1px solid var(--detailtwodk); 
}

hgroup {
  color: var(--colorlt); 
}

.hidethis   {
  display: none;
}

.highlight {
  color: var(--detailtwodk); 
}

html {
    overflow-y:scroll
}

img   {   
  max-width: 100%; 
}

.imgwt  {
aspect-ratio: 1 / 1.5;
object-fit: contain;
max-width: 100px;
border: 2px solid #ccc;
}

@media screen and (min-width: 640px) {
.imgwt   {
  max-width: 150px;
  }
}

/*The following are styles for the image within a section*/
.img_section {
  max-width: 80%;
  margin-left: 20%; 
}

@media screen and (min-width: 640px) {
.infobar li   {
  font-size: 1.65em;
  }
}

.infobar li {
  display: inline-block;
  font-size: 1.15em;
  padding: .1em .5em;
  color: var(--offblack);
  color: #0a0a0a;
  margin: 0;
  text-align: center;
  max-width: none; 
} 

.infobar a  {
  color: var(--offblack);
  text-decoration: none;
}

.infobar a:hover {
  color: var(--ltgreenbkgrnd);
  text-decoration: underline;
}


.info_block:last-child {
  padding-bottom: .25em; 
}

label.desc, legend.desc {
    color: #3a3a3a;
    font-family: "Lato", Arial, sans-serif;
    font-size: 130%;
}

label.desc {
    font-size: 95%;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    color: #444444;
}

label.desc, legend.desc {
    font-size: 95%;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
    white-space: normal;
    width: 100%;
}

.label  {
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: center;
  text-align: center;
  align-self: center;
}

@media screen and (min-width: 640px) {
.label  {
  grid-column: 1 / 2;
  grid-row: 1;
  justify-self: center;
  text-align: center;
  align-self: center;
  }
}

.leftalign  {
  text-align: left;
}

li {
  font-size: 1rem;
  font-style: normal;
  text-align: left; 
  padding-top: .15rem; 
  list-style-position: inside;
}

@media screen and (min-width:640px) {
  li  {
    font-size: 1.25rem;
  }
}

li a:hover  {
  color: #C2F0E4;
}

li p {
  font-size: 1.2rem;
  padding-left: .2rem;
}

li.odd  {
  background-color: #DDDDDD;
}
 
.list_txt_center p  {
  text-align: center;
}
 
div ul .list_txt_center p:first-child {
  padding: 0;
  text-align: center;
}

.linkslist ul   {
  margin: 1rem 0;
}

.linkslist li   {
  border: none;
  margin: 0;
  text-align: left;
  border-radius: .75rem;
  font-size: 1.35rem;
}

.linkslist li:first-child   {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linkslist li:last-child   {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}   

.linkslist a:link   {
  padding: .35rem 2.5%;
}

.linkslist a:hover  {
  text-decoration: underline;
}

.mainfull td {
  border: 1px solid #749088; 
}

.minutes ul li  {
    margin-left: 2rem;
    text-indent: -2rem;
}

nav ul {
  margin-left: 0;
}

nav.searchbar  {
  background: #0a0a0a;
  padding: 1.2rem;
}

.newsletter {
  border-bottom: none; 
}

ol ul li {
  font-size: 1rem; 
}

ol ol li {
  font-size: 1rem; 
}

ol li {
  padding: .35rem 0;
  font-style: normal;
  list-style-position: outside;
}

p {
  font-family: var(--sansserifone);
  font-size: 1.15rem;
  padding: 0 5% 0 5%;
  margin-top: .5rem;
  text-align: left;
}

@media screen and (min-width: 640px) {  
p   {
  font-size: 1.35rem;
  }
}

p.lighter  {
  color: #ccc;
  font-style: italic;
}

p.textindent   {
  text-indent: 3rem;
}

.page {
  margin: 0 auto;
  width: 100%;
  line-height: 1.25; 
}

@media screen and (min-width: 640px)  {
  .page   {
    line-height: 1.5;
    width: 90%;
  }
}

.page_intro a h2:hover {
  color: #B22222; 
}

.paging   {
  font-size: 2rem;
  padding: .75rem;
}

.paging a   {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.pindent  {
  text-indent: -3.5rem;
  margin-left: 2.5rem;
}

.plain section:nth-child(2n) li {
    background-color: #DDDDDD;
    color: #0a0a0a;
}

.plain section:nth-child(2n) a {
    background-color: #DDDDDD;
    color: #0a0a0a;
}

.plain section:nth-child(2n+1) li {
    background-color: #749088;
    color: #DDDDDD;
}

.plain section:nth-child(2n+1)  {
    background-color: #749088;
    color: #DDDDDD;
}

.primary-content  {
  padding: 0;
  line-height: 1.5;
}

.primary-content form input:hover  {
  color: var(--medltgray);
  color: #ddd;
}

.primary-content h1   {
  font-size: 1.25rem;
}

.primary-content h2   {
  max-height: 100px;
  overflow: hidden;
}

.primary-content p   {
  font-size: 1rem;
}

.red {
  color: red; 
}

.redesigned-theme-2018 .wufoo .info {
    margin-bottom: 2px;
}

@media screen and (min-width: 640px) {
.reduce   {
  font-size: 1.75em;
  }
}

.reduce {
  font-size: 1.15em; 
}

.search  {
  display: grid;
  grid-gap: 1.2em;
  /* local had as 1fr 2fr 1fr */
  grid-template-columns: 1fr 3fr 1fr;
}

.searchbar form   {
  padding-bottom: 0;
}

.searchbar form input   {
  margin-bottom: 0;
  font-size: 1.15em;
  background: var(--medltgray);
  background: #ddd;
  border: 1px solid #333;
  border-radius: 10px;
  color: var(--medltgray);
}

.searchbar form div.label  {
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: .85em;
  text-align: center;
}

.searchquery p {
  padding-left: 0;
}

.searchresults li   {
  list-style-type: none;
  padding-bottom: 1.15rem;
  padding-left: 1rem;
}

.searchresults li.odd   {
  background-color: var(--medltgray);
}

.searchresults h2   {
  text-align: left;
  padding-left: 2%;
  padding-top: 1rem;
  font-size: 1.15rem;
}

.searchresults a:hover   {
  color: var(--offblack);
  text-decoration: underline;
}

.searchresults p  {
  padding-left: 4%;
  font-size: .85rem;
  font-style: normal;
}

.searchresults .keyword   {
  color: var(--white);
  padding-left: .8rem;
  padding-right: .8rem;
  background-color: var(--red);
}

.searchtext   {
  grid-column: 1 / 4;
  grid-row: 3;
  }

@media screen and (min-width: 640px) {
.searchtext   {
  grid-column: 1 / 4;
  grid-row: 2;
  }
}

.searchtext p {
    color: var(--medltgray);
    color: #ddd;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding-bottom: .75em;
}

.searchtext p.left  {
  text-align: left;
}

.searchtext p a   {
  text-align: left;
  text-decoration: underline;
  color: var(--medltgray);
  color: #ddd;
}

section h3  {
    font-size: 1.15rem;
   }

section li {
  font-style: normal;
  border-radius: 5rem;
  background-color: var(--bkgrndlight);
  text-align: center;
  font-size: 1.15rem;
  list-style-type: none;
  padding: 0;
  margin-block-start: 1rem;
  margin-inline-end: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 1rem;

}

section li a:hover {
  color: var(--linkone);
  text-decoration: underline;
  border: 10px solid var(--detailtwolt);
}

@media screen and (min-width: 640px) {
  section h3 {
    font-size: 1.35rem;
  }
  section li   {
    margin: 1.75rem 0;
    font-size: 1.35rem;
    padding: 0;
    font-style: normal;
  } 
}

section a   {
  color: var(--brtredbrown);
}

section {
  padding-top: 1rem;
  padding-bottom: 1.25rem; 
}

section p {
  padding: .65rem 1rem 0 1rem; 
}

section:nth-child(odd) {
  background-color: var(--bkgrndone);
} 

section:nth-child(even) {
  background-color: var(--bkgrndtwo);   
}

.section_img ul p:first-child {
  padding-top: 0; 
}

.section_img li {
  max-width: 50%;
  margin-left: 41.25%; 
}

.sectionimg li {
  max-width: 50%;
  margin-left: 41.25%; 
}

.subfooter  {
  background-color: var(--offblack);
  background-color: #0a0a0a;
  background-color: var(--bkgrndone);
  padding: .75em;
}

.subfooter small  {
  display: block;
  text-align: center;
  color: #c2f0e4;
  font-size: .65em;
}

.subfooter small a  {
  text-align: center;
  color: #c2f0e4;
}

.subfooter small a:hover  {
text-decoration: underline;
}

.subfooter p  {
  font-size: 1em;
  text-align: right;
  color: var(--detailbright);
}

.subfooter p a  {
  color: var(--detailbright);
}

.subfooter p.black a {
    color: var(--bkgrndtwo);
}

.subfooter p a:hover  {
  text-decoration: underline;
}

.subitem a {
  border: 10px solid var(--detailbright);
  border-radius: 5rem;
  background-color: var(--bkgrndlight);
  padding: .8rem;
  display: block;
}

.success {
  text-align: center;
  font-style: italic;
  margin: auto; 
}

.success p {
  text-align: center;
  color: #B22222;
  font-size: 5em;
  font-style: italic;
  margin: auto;
  padding: .25em .5em;
}

.sup   {
  font-size:70%;
  vertical-align:super;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin: 2em auto 2em auto; 
}

table.inlineblock {
  border-right: 1px solid var(--bkgrndone);
  border-left: 1px solid var(--bkgrndone);
}

.tableborder {
  margin: 2.5em; 
}

.tablegroups > ul > li {
    list-style-type: none;
    display: inline-block;
}

.tablegroups > ul > li:nth-child(1)   {
  grid-column: 1;
}

.tablegroups > ul > li:nth-child(2)   {
  grid-column: 2;
  grid-row: 1;
}

.tablegroups > ul > li:nth-child(3)   {
  grid-column: 3;
  grid-row: 1;
}

.tablegroups > ul > li:nth-child(4)   {
  grid-column: 4;
  grid-row: 1;
}

.tablegroups > ul > li:nth-child(5)   {
  grid-column: 5;
}

.tablegroups > ul > li > ul > li:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2;
}

.tablegroups > ul > li > ul > li:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 3;
}

.tablegroups > ul > li > ul > li:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 4;
}

.tablegroups li   {
  text-align: center;
  list-style-type: none;
}

.tablegroups ul   {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tablegroups ul ul li   {
  border: 1px solid var(--offblack);
}

.tablegroups > ul  {
    display: grid;
  grid-gap: 20px;
  grid-template-columns: 240px;
  grid-template-rows: 13;
}

td {
  border-bottom: 1px solid #749089;
  font-size: 1.05em;
}

td, th {
  width: 10em;
  height: 3.5em;
  padding: .5em .75em;
  text-align: center;
  word-wrap: break-word;
  vertical-align: middle; 
}

td:first-child {
  border-left: 1px solid var(--bkgrndtwo);
  border-right: 1px solid var(--bkgrndtwo); 
}

td:nth-child(3) {
  border-right: 1px solid var(--bkgrndtwo);
  border-right: 1px solid var(--bkgrndtwo); 
}

td a {
  color: var(--offblack);
  text-decoration: underline;
  padding: 1em 3em; 
}

td a:hover {
  color: var(--bkgrndone);
  font-weight: bold; 
}

th {
  border: 1px solid var(--bkgrndtwo);
  background-color: var(--offblack);
  color: var(--detailbright);
  font-size: 1.35em;
  height: 2em; 
}
  
th p  {
  font-size: .65em;
  text-align: center;
  padding-top: .75em;
  color: var(--medltgray);
}

.text-normal  {
  font-style: normal;
  font-size: 1em;
  color: #000;
}

.text_right {
  text-align: right; 
}

.textrt  {
  text-align: right;
}

.text-small   {
  font-size: .85em;
}

.timelyalert {
  margin: 1rem 0;
  padding: .5rem;
  border: double 6px var(--detailtwodk);
  background: -moz-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f1f1f1), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -o-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
  background: linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%); 
}

.timelyalert a {
  text-decoration: underline;
}

.topimg   {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.topimg cite p   {
  display: none;
}

@media screen and (min-width: 640px)  {
  .topimg   {
    grid-row: 1 / 4;
  }
  .topimg cite p   {
    color: var(--colorlt);
    font-style: italic;
    display: block;
    margin-top: 0;
  }
  .topimg a:hover   {
    text-decoration: underline;
    color: var(--detailbright);
  }  
}

tr:nth-child(even) {
  background-color: var(--ltltgray); 
}

.inlineblock {
  display: inline-block;
  margin: 2em 1em 1em 1em; 
}

.jrpot {
  display: none; 
}
  
ul {
  margin-left: 8%; padding-left: 0;
}

ul ul {
  padding-inline-start: 5%;
  margin-inline-start: 0;
}

ul ul li {
  font-size: 1.25em;
  font-style: italic; 
}

ul ol li {
  font-size: 1em; 
}

ul.flexlist {
    list-style: none;
    margin: 0 0 .5rem 0;
}

ul.grouplink {
  margin-right: .75em;
  padding: 1.25em 0 .75em 0; 
}

ul.social-links {
   background: #0a0a0a;
  color: #f2f2f2; 
}

ul.social-links li  {
  color: #ccc;
}

.underline  {
  border-bottom: 2px solid #0a0a0a;
}

.underline-text   {
  text-decoration: underline;
}

.wrapper  {
  margin: 0 auto;
  color: var(--colordk);
  font-family: "Open Sans", Verdana, sans-serif;
}

.wrapper {
    margin: 0 auto;
    color: var(--colordk);
    font-family: "Open Sans", Verdana, sans-serif;
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 90%;
  } 
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    padding: 0 0 0 1rem;
}

input.text, input.search, input.file, textarea.textarea, select.select {
    padding: 0 0 0 1rem;
}

/* this stylesheet is included as a starting point with the Perch Quill Feather */

/* *** 1. DEFAULT STYLING *** */

form {
    overflow: hidden;
    padding-bottom: 1em;
    text-align: left;
}

form fieldset {
    border: 1px solid #e2e2e2;
    margin: 2em 0 1em 0;
    padding: 1em;
}
form legend {
    font-weight: bold;
    margin-left: -1em;
    padding: 0 1em;
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=search],
form input[type=url],
form textarea {
    background: #fff;
    background: -moz-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f1f1f1), color-stop(25%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #f1f1f1 1%, #ffffff 25%, #ffffff 100%);
    background: -o-linear-gradient(top, #f1f1f1 1%,#ffffff 25%,#ffffff 100%);
    background: -ms-linear-gradient(top, #f1f1f1 1%,#ffffff 25%,#ffffff 100%);
    background: linear-gradient(top, #f1f1f1 1%,#ffffff 25%,#ffffff 100%);
}

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=search],
form input[type=url],
form textarea {
    color: var(--offblack);
    color: #000;
    font-family: "Droid Sans", Arial, sans-serif;
    margin-bottom: .1em;
    padding: .35em;
    width: 80%;
    background-image: none;
    border: 2px solid #c3c3c3;
    font-size: 1em;
    border-radius: 5px;
}

.searchbar form input   {
  color: var(--medltgray);
}

form textarea + em {
    color: #717171;
    display: block;
    font-size: 92.85714%;
    margin-top: -2em;
    margin-bottom: -2em;
}

form ul li {
    list-style-type: none;
}

form input[type=submit],
form input[type=button],
form button {
    background: var(--medltgray);  
    background: #ccc;
    border: 1px solid #333;
    border-radius: 10px;
    color: var(--offblack);
    color: #0a0a0a;
    font-family: "Droid Sans", Arial, sans-serif;
    font-size: 100%;
    padding: .5em 4em;
    margin-bottom: 1em;
}

form input[type=submit]:hover,
form input[type=button]:hover,
form button:hover,
form input[type=submit]:active,
form input[type=button]:active,
form button:active {
    background-color: var(--medltgray);
    background: #ccc;
    border: 2px solid #C2F0E4;
    color: #0a0a0a;
    text-decoration: underline;
}

input[type="submit"], button {
    cursor: pointer;
    -webkit-appearance: none;
}

/*End Quill feather form examples*/

 #form1_search input  {
  color: red;
}

 #form2_search input  {
  color: red;
}

#wuf-adv  {
  visibility: hidden;
}

.wufoo h2 {
    font-family: serif;
    color: red;
    font-size: 3rem;
    font-style: italic;
    padding: 0;
}

/*# sourceMappingURL=towers.css.map */


/*
h1 {
  color: blue;
}*/

.white a {
  color: white;
}

.white {
  color: white;
}

code {
  background-color: #f2f2f2;
}

.code {
    background-color: #f2f2f2;
}

.floatright {
  float: right;
}

p.list-group-item {
  padding: 0;
}

.right {
  text-align: right;
}

.table-detail {
  text-align: center;
  font-style: italic;
  color: var(--dkgreenbkgrnd);
  font-size: .8rem;
  margin: 0;
}

.table-detail-bright {
  text-align: center;
  font-style: italic;
  color: var(--brtredbrown);
  font-size: .8rem;
  margin: 0;
}

.text-right     {
  text-align: right;
}

.margin-none  {
  margin: 0;
}

.formclass  {
  margin-left: 2rem;
}

.input-enter   {
  margin-bottom: 2rem;
}

form input[type="search"] {
  margin-bottom: 1.5rem;
}

form input[type="submit"] {
  background-color: var(--bkgrndone);
  color: var(--colorlt);
}

form input[type="submit"]:hover {
  background-color: var(--bkgrndone);
  color: var(--colorlt);
}

li.form-results {
  text-align: left;
  font-size: 2rem;
  font-style: normal;
}

.searchterm-highlight {
    display: inline-block;
    padding: .25em 0;
    background: yellow;
    color: #000;
    padding-left: .2rem;
    padding-right: .2rem;
}

.inline {
  display: inline-block;
}

nav.navigation ul  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form-result {
  text-align: center;
  font-style: italic;
  color: red;
  font-size: 1.85rem;
}

.redesigned-theme-2018 .wufoo .info h2 {
    display: none;
}

#title239 {
    display: none;
}

.redesigned-theme-2018 input.btTxt {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #007faa;
    color: #fff;
    font-weight: 400;
    border-radius: 3px;
    float: left;
    padding: 15px 30px;
    border: 1px solid #007faa;
    margin-right: 0;
    font-family: National\ 2, sans-serif;
    cursor: pointer;
    font-size: 15px;
    -webkit-transition: color .4s, border-color .4s, background-color .4s;
    -o-transition: color .4s, border-color .4s, background-color .4s;
    transition: color .4s, border-color .4s, background-color .4s;

