/* - - - - - - - - - - - - - - - - - - - - -

 Title : Occupant Agreement 
 Author :  Johh Rose
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

h2 {
  color: green;
}

h1 {
  color: red;
}

li {
  list-style: circle;
  list-style-position: outside;
  width: 90%;
  margin-left;
  auto;
  margin-right: auto;
}