/* this stylesheet is included as a starting point with the Perch Quill Feather, the design was created by Laura Kalbag for Perch. 
You are welcome to use this as is, or use it as a starting point when building your site.
SECTIONS:

1. Default styling - establishes the basic styles for elements on the site
2. Section specific styling - for specific parts of the site
3. Layout rules - these create the responsive layout
*/

/* *** 1. DEFAULT STYLING *** */

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after { 
    content: ''; 
    content: none;
}

ins {
    text-decoration: none; 
    background: #fff75c;
}

del {
    text-decoration: line-through;
}

em {
    font-style:italic;
}

strong {
    font-weight:bold;
}

abr {
    border-bottom:1px dotted;
}

input[type=submit], button {
    cursor:pointer;-webkit-appearance:none;
} 

p {
    margin-bottom: 1.2em;
}

blockquote {
    border-left: 2px solid;
      padding-left: 1.2em;
}

figure figcaption h4 {
    margin-top: 0;
}

form {
    overflow: hidden;
}

form fieldset {
    border: 1px solid #e2e2e2;
    margin: 2em 0;
    padding: 1em;
}

form legend {
    font-weight: bold;
    margin-left: -1em;
    padding: 0 1em;
}

form textarea {
    background: #fff;
    background: -moz-linear-gradient(top, #f1f1f1 1%, #ffffff 5%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f1f1f1), color-stop(5%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #f1f1f1 1%,#ffffff 5%,#ffffff 100%);
    background: -o-linear-gradient(top, #f1f1f1 1%,#ffffff 5%,#ffffff 100%);
    background: -ms-linear-gradient(top, #f1f1f1 1%,#ffffff 5%,#ffffff 100%);
    background: linear-gradient(top, #f1f1f1 1%,#ffffff 5%,#ffffff 100%);
}

form textarea + em {
    color: #717171;
    display: block;
    font-size: 92.85714%;
    margin-top: -2em;
    margin-bottom: -2em;
}

form ul li {
    list-style-type: none;
}

/* *** SUB NAV *** */
.sidebar ul{
    font-weight: bold;
    margin: 0 0 1.2em 1.2em;
}

/* *** PRIMARY-CONTENT ***
The following rules only effect content inside the main content area of the page.
*/

.primary-content ul, .primary-content ol {
    margin: 0 0 1.2em 1.2em;
}

/* *** LAYOUT-FOOTER *** */
.layout-footer {
    background: #f0f0f0;
    border-top: 1px solid #dee0e0;
    margin-top: 40px;
    padding: 1.5em 0 1.5em 0;
    clear:both;
}

.layout-footer ul.social-links li {
    list-style-type: none;
}

.layout-footer ul.social-links li a {
    color: #787878;
}

/* *** 3. LAYOUT RULES *** */

/* this is a mobile first responsive design. Therefore we start out by displaying the rules for the smallest size and then add rules as the screen size gets wider.
You could also have each section as a separate stylesheet, it is up to you. */

/*Screen width above 320px. Mobile phones. */
@media only screen and (min-width: 320px) {
    .main-nav {
        border-bottom: 1px solid #e2e2e2;
        overflow: hidden;
        padding: 0;
    }
    

    
    .layout-footer ul.social-links {
        overflow: hidden;
        padding-bottom: 5px;
    }
    
    .layout-footer ul.social-links li {
        float: left;
        width: 20%; /* 1/5 of 100% */
    }
    
    .layout-footer ul.social-links li a {
        background: url("../img/social-icons.png") top left no-repeat;
        display: block;
        height: 0;
        margin: 0 auto;
        opacity: .5;
        overflow: hidden;
        padding-top: 50px;
        width: 40px;
    }
    
    .layout-footer ul.social-links li.facebook a {
        background-position: -60px 0;
    }
    
    .layout-footer ul.social-links li.flickr a {
        background-position: -120px 0;
    }
    
    .layout-footer ul.social-links li.linkedin a {
        background-position: -182px 0;
    }
    
    .layout-footer ul.social-links li.rss a {
        background-position: -240px 0;
    }
    
    .layout-footer ul.social-links li a:hover,
    .layout-footer ul.social-links li a:active {
        opacity: .8;
    }
    
    .layout-footer small {
        display: block;
        text-align: center;
    }
}

@media only screen and (min-width: 700px) {
    .layout-footer ul.social-links {
        float: left;
    }
    
    .layout-footer ul.social-links li a {
        background: url("../img/social-icons.png") 0 -70px no-repeat;
        margin: 0;
        padding-top: 30px;
        width: 30px;
    }
    
    .layout-footer ul.social-links li.facebook a {
        background-position: -27px -70px;
    }
    
    .layout-footer ul.social-links li.flickr a {
        background-position: -55px -70px;
    }
    
    .layout-footer ul.social-links li.linkedin a {
        background-position: -82px -70px;
    }
    
    .layout-footer ul.social-links li.rss a {
        background-position: -109px -70px;
    }
    
    .layout-footer ul.social-links li a:hover,
    .layout-footer ul.social-links li a:active {
        opacity: .8;
        
    }
    
    .layout-footer small {
        display: block;
        text-align: right;
    }    
}

.minutes ul li  {
    margin-left: 2rem;
    text-indent: -2rem;
}
