/* Re-work index.php */

/* These were the items left behind after working on cards */
 h3.listhead: 1.65rem; 

  /* *** MAIN-NAV *** */

.subitem li {
    list-style-type: none;
}

.subitem li {
    color: #555;
    display: block;
    letter-spacing: 1px;
    padding: .8em 1.6em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.subitem li.selected a {
    color: #fff;
    background-color: #000;
}

.subitem li a:hover {
    color: #000;
}

.subitem ul li.selected a {
    background: #000;
    color: #fff;
}

/* End items left behind from cards */
