:root 	{
	--headline: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	--sansserifone: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	--serifone: Times, "Times New Roman", Georgia, serif;
}
